name: yqs Library Seat Auto Booking

on:
  schedule:
    - cron: "50 21 * * *"
  workflow_dispatch:  # 手动触发

jobs:
  booking:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run auto booking script
        run: python yqs.py
